fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.5
pydantic-settings==2.7.1

torch==2.5.1
transformers==4.57.1
sentence-transformers==5.1.2
umap-learn==0.5.9.post2
hdbscan==0.8.40
scikit-learn==1.6.1
numpy==2.0.2
pandas==2.2.2

tqdm==4.67.1
regex==2024.11.6
loguru==0.7.3
prometheus-client==0.21.1
PyPDF2==3.0.1

pytest==8.3.4
httpx==0.28.1
